:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 700;
  /* font-size: 16px; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
}
#root{
  display: flex;
  flex-direction: column;
  row-gap:.5rem ;
  height: auto;
  border: .6rem solid #7fd8e6;
  border-radius: .6rem;
  padding: 4rem;
  width: 60%;
  background-color: #ddf2f5;
}
.container{
  display: flex;
  justify-content: center;
  column-gap: .5rem;
}
.incrimentButton{
  background-color: #6c757d;
}
.incrimentButton:hover{
  background-color: #5f676d;
}
.decrimentButton{
  background-color: #7fd8e6;
}
.decrimentButton:hover{
  background-color: #75d1df;
}
.deleteButton{
  background-color: #dc3545;
}
.deleteButton:hover{
  background-color: #c52535;
}
.countBox, .zeroBox{
  width: 4rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: .3rem;
}

.countBox{
  background-color: #007bff;
  color: white;
}
.zeroBox{
  background-color: #ffc107;
}


.cartImg{
  width: 2rem;
  height: 1.8rem;
}
.navebar{
  display: flex;
  padding-bottom: 1.6rem;
  justify-content: center;
  column-gap: .5rem;
}
.numItems{
  width: 5rem;
  font-size: 1.3rem;
  color: white;
  background-color: #17a2b8;
  /* height: 1.5rem; */
  border-radius:1rem;
}
.items{
  font-size: 1.2rem;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3rem .3rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.incrimentButton, .decrimentButton,.refreshList, .refreshPage
, .deleteButton{
  height: 3rem;
  width: 3rem;
}
.refreshBar{
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
.refreshList  {
  background-color: #28a745;
}
.refreshList:hover {
  background-color: #24a041;
}
.refreshPage{
  background-color: #007bff;
}
.refreshPage:hover{
  background-color: #0276f2;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
